mixin usercard(title, user)
  if user
    .panel.panel-default.mod-user-card
      .panel-heading
        .panel-title= title
      .panel-body
        p.clearfix
          span.btn.btn-default.btn-xs.pull-right #{user.point}积分
          a.avatar(href="/user/"+user.name)
            img.avatar-img.pull-left(src=user.avatar ? "/avatar/"+user.avatar : "/avatar/"+user.name.slice(0,1).toUpperCase()+".gif")
            strong= user.name
            if user.level >= 90
              img.crown-icon(src="/images/crown_48px.png", title="管理员")
          br
          a.btn.btn-info.btn-xs.msg-btn(href="/user/"+user.name+"/privatemsg") 私信
        div
          if !user.sign
            a(href="/user/"+user.name+"/setting")
              em “这家伙很懒，什么都没有留下” 
          else
            em= user.sign
        ul.small.list-unstyled
          li= user.weibo ? "微博：" + user.weibo : ""
          li= user.wechat ? "微信："+ user.wechat : ""
          li= user.site ? "网站：" + user.site : ""
          li= user.github ? "Github：" + user.github : ""
